<!DOCTYPE html>
<html lang="en">
<head>
	<head>
		<meta charset="utf-8">
		<title>MathemaTricks</title>
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet">	
		<script src="{{ url_for('static', filename='StudentEvent.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
	  </head>
</head>
<body id="page-top" onload="loadPage()">
	<nav class="navbar navbar-expand navbar-dark sticky-top nav-color">        
        <h1 style="padding-left: 5px; font-size: 25px" class="navbar-brand mr-1" href="\#">Welcome {{userInfo.user}}</h1>        
        <div class="collapse navbar-collapse navbar-ws">
            <ul class="nav-items nav navbar-nav">                                
                <form style="align-content: right" action="/logout">
                    <input type="submit" value="Logout" class="navbar-right textColr-log btn btn-log navbar-brand"/>
                </form>
            </ul>
        </div>
	</nav> 
</body>
</html>