<!DOCTYPE html>
<html lang="en">
<head>
	<head>
		<meta charset="utf-8">
		<title>MathemaTricks</title>
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet">	
		<script src="{{ url_for('static', filename='StudentEvent.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
	  </head>
</head>
<body id="page-top" onload="loadPage()">
	<nav class="navbar navbar-expand navbar-dark sticky-top nav-color">        
        <h1 style="padding-left: 5px; font-size: 25px" class="navbar-brand mr-1" href="\#">Welcome {{userInfo.user}}</h1>        
        <div class="collapse navbar-collapse navbar-ws">
            <ul class="nav-items nav navbar-nav">                                
                <form style="align-content: right" action="/logout">
                    <input type="submit" value="Logout" class="navbar-right textColr-log btn btn-log navbar-brand"/>
                </form>
            </ul>
        </div>
	</nav> 
	<div class = "container-fluid ">
		<div class="row">
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "0">
				<p class="draggable-item p-2">0</p>
			</div>
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "1">
				<p class="draggable-item p-2">1</p>
			</div>
		</div>
		<div class="row">
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "2">
				<p class="draggable-item p-2">2</p>
			</div>
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "3">
				<p class="draggable-item p-2">3</p>
			</div>
		</div>
		<div class="row">
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "4">
				<p class="draggable-item p-2">4</p>
			</div>    
		
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "5">
				<p class="draggable-item p-2">5</p>
			</div>
		</div>
		<div class="row">
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "6">
				<p class="draggable-item p-2">6</p>
			</div>
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "7">
				<p class="draggable-item p-2">7</p>
			</div>
		</div>
		<div class="row">
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "8">
				<p class="draggable-item p-2">8</p>
			</div>
			<div class="col grid-item d-flex justify-content-center" draggable="true" ondragstart="drag(event)" id = "9">
				<p class="draggable-item p-2">9</p>
			</div>    
		</div>
	</div>
</body>
</html>