<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Visual Calculator</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link href="css/student.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark sticky-top nav-color">
        <a class="navbar-brand mr-1" href="index.html">Student Dashboard</a>
    </nav>    
    <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Workspace</a>
                    </li>
                </ol> 
                <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                        Work History</div>
						 <div class="breadcrumb col-sm-3 border-block card-header">
                        <div class = "container-fluid">
                        <div class="row">
                            <div class="col grid-item">
                                <p class="draggable-item">History Row 1</p>
                            </div>
						</div>
						<div class="row">
						    <div class="col grid-item">
                                <p class="draggable-item">Histroy Row 2</p>
                            </div>
						</div>
						<div class="row">
                            <div class="col grid-item">
                                <p class="draggable-item">History Row 3</p>
                            </div>
						</div>
						<div class="row">
						    <div class="col grid-item">
                                <p class="draggable-item">Histroy Row 4</p>
                            </div>
						</div>
						<div class="row">
						    <div class="col grid-item">
                                <p class="draggable-item">Histroy Row 5</p>
                            </div>
						</div>
						
						 
                        
                </div>
            </div>
    </div>
</body>
</html>

<style scoped>
    .nav-color {
        background-color: #563d7c;
        border:1px solid black;
        border-radius:4px;
    }
    h2{
        font-size: 2.0rem;
        font-weight: bold;
    }
    .main-body{
        width: 60%;
        border: 2px solid violet;
        padding: 10px;
        margin: 10px auto;
        max-width: 900px;
    }
</style>